
<footer class="d-flex justify-content-center align-items-center navbar p-2 gap-3">

    <div class="d-flex row align-items-center header-content">
        <div class="mx-3 col">
            {{ 'POWERED_BY' | translate }}
        </div>
        <div class="p-1 d-flex footer-logo justify-content-center col" >
            <img src="assets/images/tahakomLogo.svg"
                class="">
        </div>
        <div class="mx-3 col">
            {{ 'YEAR' | translate }}
        </div>
    </div>
</footer>