<div style="height: 90vh;">
    hello
</div>

<footer class="d-flex justify-content-between align-items-center navbar p-2 gap-3">

    <div class="d-flex col justify-content-center align-items-center header-content">
        <div class="mx-3 link">
            تشغيل بواسطة
        </div>
        <div class="p-1 d-flex footer-logo justify-content-center" >
            <img src="../../../../assets/images/tahakomLogo.svg"
                class="">
        </div>
        <div class="mx-3 link">
            2024
        </div>
    </div>
</footer>