.subtitle {
    
    font-size: 26px;
    font-weight: 500;
    color: #264653;
}

.ltr{
    direction: ltr;
}

.pos{
    position: relative;
    left: 18%;
}
:host .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #264653;
}