
<div class="container">
    <p class="subtitle mt-2">{{ 'EVENTS_TYPES' | translate }}</p>
</div>

<div class="ltr container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="pos">
            <ngx-charts-advanced-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="eventTypes"
            [gradient]="gradient"
            [animations]="animations"
            [label]="label"
            [percentageFormatting]="percentageFormatting"
            >
        </ngx-charts-advanced-pie-chart>
        </div>
    </div>
</div>