tr:hover td {
    background-color: #FBF4E2;
    cursor: pointer;
} 
th{
    background: #E0E5E6;
    border-color: #85979E;
}
td, th{
    color: #264653;
}

i{
    font-size: 12px;
}
i:hover{
    background: #FBF4E2;
}

.purple{
    color: #C48CFF;
  }
  
  .orange{
    color: #FF9479
  }
  
  .green{
    color: #4BBF64
  }
  
  .pink{
    color: #FA5A7D
  }
  