<main class="d-flex">
    <table id="myTable" class="table table-hover-custom m-3">
        <thead>
            <tr>
                <th>{{ 'EVENT_NAME' | translate }}</th>
                <th>{{ 'EVENT_CATEGORY' | translate }}</th>
                <th>{{ 'EVENT_TYPE' | translate }} </th>
                <th>{{ 'EVENT_CAPACITY' | translate }} </th>
                <th>{{ 'EVENT_DATE' | translate }} </th>
                <th>{{ 'EVENT_TIME' | translate }} </th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events">
            <td> {{ event.name }} </td>
            <td> {{ event.category | translate  }} </td>
            <td> {{ event.type | translate  }} </td>
            <td> {{ event.capacity }} </td>
            <td> {{ event.date }} </td>
            <td> {{ event.time }} </td>
        </tr>
    </tbody>
    </table>
</main>