<main class="d-flex">
    <table id="myTable" class="table table-hover-custom m-3 mb-5">
        <thead>
            <tr>
                <th>{{ 'EVENT_NAME' | translate }}</th>
                <th>{{ 'EVENT_CATEGORY' | translate }}</th>
                <th>{{ 'EVENT_TYPE' | translate }} </th>
                <th>{{ 'EVENT_CAPACITY' | translate }} </th>
                <th>{{ 'EVENT_DATE' | translate }} </th>
                <th>{{ 'EVENT_TIME' | translate }} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events" (click)="viewEventDetails(event)">
                <td> {{ event.name }} </td>
                <td><i class="bi bi-circle-fill" [ngClass]="{
                    'purple': event.category === 'ENTERTAINMENT',
                    'orange': event.category === 'PROFESSIONAL',
                    'green': event.category === 'EDUCATIONAL',
                    'pink': event.category === 'OTHER'
                    }"> </i> {{ event.category | translate }}</td>
                <td> {{ event.type | translate }} </td>
                <td> {{ event.capacity }} </td>
                <td> {{ event.date }} </td>
                <td> {{ event.time }} </td>
            </tr>
        </tbody>
    </table>
</main>