<div class="container-fluid justify-content-center p-4">
    <div class="card shadow">
        <form class="row row-cols-3 p-4" [formGroup]="addEventForm" (ngSubmit)="onSubmit()">

            <div class=" col my-3">
                <label for="eventName">Event name</label>
                <input class="form-control no-outline" type="text" formControlName="eventName">
            </div>
            
            <div class="col my-3">
                <label for="eventCategories">Event category</label>
                <app-custom-dropdown 
                    [options]="['ENTERTAINMENT' | translate, 'PROFESSIONAL' | translate, 'EDUCATIONAL' | translate, 'OTHER' | translate]"
                    (optionSelected)="handleCategorySelected($event)" formControlName="eventCategories">
                </app-custom-dropdown>
              </div>

            <div class="col my-3">
                <label for="eventType">Event Type</label>
                <app-custom-dropdown [options]="['PHYSICAL'|translate,'ONLINE'|translate,]"
                    (optionSelected)="handleTypeSelected($event)" formControlName="eventType" ></app-custom-dropdown>
            </div>

            <div class="col my-3" *ngIf="(selectedType!==('ONLINE'| translate: {value: 'en'}) && selectedType!=='') ">
                <label for="eventLocation">Event Location</label>
                <input class="form-control no-outline" type="text" formControlName="eventLocation">
            </div>

            <div class="col my-3" *ngIf="(selectedType!==('PHYSICAL' | translate: {value: 'en'} )  && selectedType!=='')">
                <label for="eventLink">Event Link</label>
                <input class="form-control no-outline" type="text" formControlName="eventLink">
            </div>

            <div class="col my-3 ">
                <div class="col">
                    <label for="eventDate">Event Date</label>
                    <div class="date-picker-container">
                        <input matInput [matDatepicker]="picker" formControlName="eventDate" id="eventDate" type="text"
                            class="form-control no-outline">
                        <button mat-icon-button type="button" (click)="picker.open()" class="calendar-btn">
                            <mat-icon>event</mat-icon>
                        </button>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="col my-3">
                <label for="eventTime">Event time</label>
                <input class="form-control no-outline" type="time" formControlName="eventTime">
            </div>

            <div class="col my-3">
                <label for="eventCapacity">Event capacity</label>
                <input class="form-control no-outline" type="number" formControlName="eventCapacity">
            </div>


            <div class="col my-3">
                <app-button [text]="'Add' | translate"></app-button>
            </div>


        </form>

    </div>
</div>