<!-- custom-dropdown.component.html -->
<div class="dropdown d-flex" [class.show]="isOpen">
    <div class="text-end arrow-icon-container">
      <input class="form-control no-outline" type="text" [value]="selectedValue" readonly (click)="toggleDropdown()">
      <i class="bi bi-caret-down arrow-icon" (click)="toggleDropdown()"></i>
    </div>
  
    <div class="dropdown-content" [class.show]="isOpen">
      <a href="#" *ngFor="let option of options; let index = index" (click)="selectOption($event, option, index)" [class.border-top]="index !== 0">{{ option }}</a>
    </div>
  </div>
  