<main class="d-flex vh-100">
    <div class="link position-absolute m-2" (click)="switchLang()">
        {{ 'LANGUAGE' | translate }} 
        <i class="bi bi-globe mx-1"></i>
    </div>

    <div id="content" class="d-flex justify-content-evenly align-items-center w-75 m-auto p-5 bg-white">

        <div id="image">
            <img class="img-fluid mx-auto d-block" src="assets/images/mainlogo.png" alt="شعار">
        </div>

        <div class="d-flex flex-column" id="form">
            
            <h2 class="mb-3 fw-bold"> {{ 'WELCOME_MESSAGE' | translate }} </h2>
            <div class="fixed-size small d-flex align-items-center mt-3" id="errormsg"
                *ngIf="submitted && (loginForm.controls.username.invalid || loginForm.controls.password.invalid)">
                 <i class="bi bi-exclamation-circle-fill mx-1"></i>
                <div class="m-1" *ngIf="showErrorMessage">
                    {{ 'ERROR_MESSAGE_MISSING_CREDENTIALS' | translate }}
                </div>
                <div class="m-1" *ngIf="showErrorMessage2 && !showErrorMessage && !showErrorMessage3">
                    {{ 'ERROR_MESSAGE_PASSWORD_LENGTH' | translate }} 
                </div>
                <div class="m-1" *ngIf="showErrorMessage3 && !showErrorMessage">
                    {{ 'ERROR_MESSAGE_USERNAME_CONDITIONS' | translate }} 
                </div>
            </div>
            <form class="my-3 flex-grow-1 w-100 form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="my-4">

                    <label for="username" [ngClass]="{ 'invalid': isUsernameValid, 'valid': !isUsernameInvalid }">{{ 'USERNAME' | translate }}</label>
                    <input class="form-control no-outline" id="username" type="text" formControlName="username" [ngClass]="{ 'invalid': isUsernameValid, 'valid': !isUsernameInvalid }">
                </div>
                <div class="my-4">
                    <label for="password" [ngClass]="{ 'invalid': isPasswordValid, 'valid': !isPasswordInvalid }">{{ 'PASSWORD' | translate }}</label>
                    <input class="form-control no-outline" id="password" type="password" formControlName="password" [ngClass]="{ 'invalid': isPasswordValid, 'valid': !isPasswordInvalid }">

                </div>
                <app-button [text]="'LOGIN' | translate"></app-button>
            </form>
            <p class="text-center">{{ 'REGISTRATION' | translate }} <a href="#"> {{ 'CLICK_HERE' | translate }}</a></p>

        </div>

    </div>
</main>