<main class="d-flex vh-100">
    <div id="content" class="d-flex justify-content-evenly align-items-center m-auto p-5 bg-white">

        <div id="image">
            <img class="img-fluid mx-auto d-block" src="assets/images/mainlogo.png" alt="شعار">
        </div>

        <div class="d-flex flex-column" id="form">
            <h2 class="mb-3 fw-bold">مرحبًا بك في منصة ترويح</h2>
            <div class="d-flex align-items-center mt-3" id="errormsg"
                *ngIf="submitted && (loginForm.controls.username.invalid || loginForm.controls.password.invalid)">
                <i class="bi bi-exclamation-circle-fill mx-1"></i>
                <div *ngIf="showErrorMessage && !showErrorMessage2">
                    الرجاء إدخال اسم المستخدم أو كلمة المرور 
                </div>
                <div *ngIf="showErrorMessage2">
                    كلمة المرور يجب أن تتكون من 8 رموز على الأقل 
                </div>
            </div>
            <form class="my-3 flex-grow-1 w-100 form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="my-4">
                    <label for="username" [ngClass]="{ 'invalid': isUsernameValid, 'valid': !isUsernameInvalid }">اسم المستخدم</label>
                    <input class="form-control" id="username" type="text" formControlName="username" [ngClass]="{ 'invalid': isUsernameValid, 'valid': !isUsernameInvalid }">
                </div>
                <div class="my-4">
                    <label for="password" [ngClass]="{ 'invalid': isPasswordValid, 'valid': !isPasswordInvalid }">كلمة المرور</label>
                    <input class="form-control" id="password" type="password" formControlName="password" [ngClass]="{ 'invalid': isPasswordValid, 'valid': !isPasswordInvalid }">
                </div>
                <app-button></app-button>
            </form>
            <p class="text-center">للتسجيل في فعالية <a href="#">اضغط هنا</a></p>

        </div>

    </div>
</main>