<div class="container">
    <p class="subtitle mt-2">{{ 'TOTAL_ATTENDENCE' | translate }}</p>
</div>

<div class="container ltr">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <ngx-charts-bar-vertical-2d
              [view]="view"
              [scheme]="colorScheme"
              [results]="attendence"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [showGridLines]="showGridLines"
              [yScaleMax]="yScaleMax"
              [barPadding]="barPadding"
            >
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">
            <span class="legend-item mx-4"><span class="legend-color" style="background-color: #0496ff;"></span>{{ 'MALE' | translate }}</span>
            <span class="legend-item mx-4"><span class="legend-color" style="background-color: #fa5b7e;"></span>{{ 'FEMALE' | translate }}</span>
        </div>
    </div>
</div>
