<header class="d-flex justify-content-between align-items-center navbar p-2  shadow gap-3">

    <div class="d-flex col justify-content-between align-items-center header-content">
        <nav class="d-flex align-items-center">
            <img src="../../../../assets/images/logo.png" class="mx-2 header-logo">
            <div class="mx-3 link">
                <a>
                    {{ 'HOMEPAGE' | translate }}
                </a>
            </div>
            <div class="mx-2 link">
                <a>
                    {{ 'EVENT_MANAGMENT' | translate }}
                </a>
            </div>
        </nav>
        <div class="mx-2 link" (click)="switchLang()">
            {{ 'LANGUAGE' | translate }} 
            <i class="bi bi-globe mx-1"></i>
        </div>
    </div>
    <div class="vr text-secondary "></div>
    <div class="align-items-center col-2 header-subcontent mx-2  container-fluid">
        <div >
            <i class="bi bi-person-circle mx-1 link"></i>
            <span>
                {{ 'WELCOME' | translate }}
            </span>
        </div>
        <div class="text-end arrow-icon"><i class="bi bi-caret-down "></i> </div>

    </div>
</header>