/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';


@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('assets/fonts/alfont_com_AlFont_com_NeoSansArabic.ttf') format('truetype');
}


html[lang="ar"] body {
    direction: rtl;
  }
  
  html[lang="en"] body {
    direction: ltr;
  }

  .hidden {
    display: none;
  }

