<div class="dashboard d-flex mb-3">
    <div class="row justify-content-center mb-3 gap-4">
        <div class="card col-5 shadow">
            <app-pie-grid></app-pie-grid>
        </div>
        <div class="card col-5 shadow">
            <app-advanced-pie></app-advanced-pie>
        </div>
    </div>
    <div class="row justify-content-center gap-4">
        <div class="card col-5 m-2 shadow">
            <app-stacked-bar></app-stacked-bar>
        </div>
        <div class="card col-5 shadow ">
            <app-grouped-bar></app-grouped-bar>
        </div>
    </div>
</div>